BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/headerbj.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.red {
	COLOR: #ff0000
}
.orange {
	COLOR: #ff8000
}
.white {
	COLOR: #ffffff
}
.songti {
	FONT-FAMILY: ""
}
.huise {
	COLOR: #cccccc
}
.f14 {
	FONT-SIZE: 14px
}
.b {
	FONT-WEIGHT: bold
}
.h175 {
	HEIGHT: 175px
}
.pbtn1 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/p_btn01.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 91px; CURSOR: pointer; COLOR: #fff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.pbtn2 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/p_btn02.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 152px; CURSOR: pointer; COLOR: #fff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.pbtn3 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/p_btn03.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 214px; CURSOR: hand; COLOR: #fff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.selectk1 {
	BORDER-RIGHT: #7f9eba 1px solid; BORDER-TOP: #7f9eba 1px solid; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 248px; BORDER-BOTTOM: #7f9eba 1px solid
}
.textarea {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 244px; LINE-HEIGHT: 125%; PADDING-TOP: 2px; BORDER-BOTTOM: #7f9eba 1px solid
}
.textarea2 {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 370px; LINE-HEIGHT: 125%; PADDING-TOP: 2px; BORDER-BOTTOM: #7f9eba 1px solid
}
.inputk1 {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 243px; PADDING-TOP: 3px; BORDER-BOTTOM: #7f9eba 1px solid; HEIGHT: 16px
}
.inputk2 {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 60px; PADDING-TOP: 4px; BORDER-BOTTOM: #7f9eba 1px solid; HEIGHT: 18px
}
.inputk3 {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 200px; PADDING-TOP: 4px; BORDER-BOTTOM: #7f9eba 1px solid; HEIGHT: 18px
}
.inputk5 {
	BORDER-RIGHT: #7f9eba 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9eba 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7f9eba 1px solid; WIDTH: 100px; PADDING-TOP: 4px; BORDER-BOTTOM: #7f9eba 1px solid; HEIGHT: 18px
}
.warpper {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 100%
}
.breadCrumb {
	MARGIN-BOTTOM: 8px; LINE-HEIGHT: 165%
}
.maink {
	CLEAR: both; WIDTH: 100%; HEIGHT: 100%
}
.mainleft {
	FLOAT: left; WIDTH: 730px
}
.mainright {
	FLOAT: right; WIDTH: 220px
}
.pbanner {
	CLEAR: both; MARGIN-BOTTOM: 8px
}
.pk1 {
	BORDER-RIGHT: #aec1e1 1px solid; BORDER-TOP: #aec1e1 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon01.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #aec1e1 1px solid; BORDER-BOTTOM: #aec1e1 1px solid; BACKGROUND-REPEAT: repeat-x
}
.pk2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon09.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f2f6fb
}
.pk3 {
	BORDER-RIGHT: #b2c5ea 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #b2c5ea 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon11.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #b2c5ea 1px solid; BORDER-BOTTOM: #b2c5ea 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fff
}
.pk4 {
	BORDER-RIGHT: #b2c5ea 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #b2c5ea 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon12.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #b2c5ea 1px solid; BORDER-BOTTOM: #b2c5ea 1px solid; BACKGROUND-REPEAT: repeat-x
}
.pk5 {
	BORDER-RIGHT: #b2c5ea 1px solid; BORDER-TOP: #b2c5ea 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: #b2c5ea 1px solid; BORDER-BOTTOM: #b2c5ea 1px solid; BACKGROUND-COLOR: #fff
}
.pk6 {
	BORDER-RIGHT: #b2c5ea 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #b2c5ea 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon14.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #b2c5ea 1px solid; BORDER-BOTTOM: #b2c5ea 1px solid; BACKGROUND-REPEAT: repeat-x
}
.pk8 {
	BORDER-RIGHT: #a9c1dd 1px solid; BACKGROUND-POSITION: 50% top; BORDER-TOP: #a9c1dd 1px solid; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon18.jpg); MARGIN-BOTTOM: 8px; BORDER-LEFT: #a9c1dd 1px solid; BORDER-BOTTOM: #a9c1dd 1px solid; BACKGROUND-REPEAT: repeat-x
}
.pk9 {
	BORDER-RIGHT: #a9c1dd 1px solid; BORDER-TOP: #a9c1dd 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: #a9c1dd 1px solid; BORDER-BOTTOM: #a9c1dd 1px solid
}
.pk1title {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
.pk1title SPAN.pktleft {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left
}
.pk1title SPAN.pktright {
	PADDING-RIGHT: 8px; FLOAT: right
}
.pk1title1 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 26px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 26px
}
.pk1title1 SPAN.pktleft {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left
}
.pk1title1 SPAN.pktright {
	PADDING-RIGHT: 8px; FLOAT: right
}
.pk1title2 {
	LINE-HEIGHT: 30px; HEIGHT: 32px
}
.pk1title2 SPAN.pktleft {
	FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon15.jpg); MARGIN: 6px 8px 0px; WIDTH: 108px; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px; TEXT-ALIGN: center
}
.pk1title2 SPAN.pktleft2 {
	FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon16.jpg); MARGIN: 6px 8px 0px; WIDTH: 133px; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px; TEXT-ALIGN: center
}
.pk1title2 SPAN.pktright {
	PADDING-RIGHT: 8px; FLOAT: right
}
.pkcontent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.pkcontent UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pkcontent LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pkcontent1 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.pkcontent1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pkcontent1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pknews {
	CLEAR: both; LINE-HEIGHT: 26px
}
.pknews LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pknews LI.td1 {
	BACKGROUND-POSITION: 5px 12px; PADDING-LEFT: 15px; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/icon0.jpg); OVERFLOW: hidden; WIDTH: 60%; BACKGROUND-REPEAT: no-repeat
}
.pknews LI.td2 {
	FLOAT: right; WIDTH: 20%; TEXT-ALIGN: center
}
.pknews LI.td3 {
	FLOAT: right; WIDTH: 10%; TEXT-ALIGN: center
}
.pknews2 {
	LINE-HEIGHT: 26px
}
.pknews5 {
	MARGIN: 10px
}
.pknews5 LI {
	BACKGROUND-POSITION: 0px 12px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/icon0.jpg); OVERFLOW: hidden; LINE-HEIGHT: 26px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 26px
}
.pknews6 {
	MARGIN: 10px 0px
}
.pknews6 LI {
	BACKGROUND-POSITION: 0px 12px; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/icon0.jpg); MARGIN-LEFT: 15px; OVERFLOW: hidden; WIDTH: 330px; LINE-HEIGHT: 26px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 26px
}
.pknews8 {
	FLOAT: left
}
.pknews8 UL {
	FLOAT: left; WIDTH: 49%
}
.pknews8 LI {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
.pknews8 LI.pk8td1 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 75%
}
.pknews8 LI.pk8td1 SPAN {
	BACKGROUND-POSITION: 0px 6px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/icon0.jpg); BACKGROUND-REPEAT: no-repeat
}
.pknews8 LI.pk8td2 {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 23%; TEXT-ALIGN: center
}
.pkcontent UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pkcontent LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.padv1 {
	CLEAR: both; MARGIN-BOTTOM: 8px
}
.pmenuk {
	BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon02.jpg); COLOR: #1c4e86; LINE-HEIGHT: 26px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 27px
}
.pmenu0 {
	FLOAT: left; WIDTH: 10px; HEIGHT: 26px; TEXT-ALIGN: center
}
.pmenu1 {
	BORDER-RIGHT: #afc0d2 1px solid; FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon07.gif); BORDER-LEFT: #afc0d2 1px solid; WIDTH: 95px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 26px; TEXT-ALIGN: center
}
.pmenu2 {
	BACKGROUND-POSITION: right center; FLOAT: left; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon08.gif); WIDTH: 95px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 26px; TEXT-ALIGN: center
}
.sortk {
	FLOAT: left; WIDTH: 340px; LINE-HEIGHT: 165%; MARGIN-RIGHT: 8px; HEIGHT: 100%
}
.sortk1 {
	FLOAT: left; WIDTH: 340px; LINE-HEIGHT: 165%; HEIGHT: 100%
}
.sortktd1 {
	OVERFLOW: hidden
}
.sortktd2 {
	MARGIN: 0px 0px 15px; OVERFLOW: hidden; COLOR: #cccccc; HEIGHT: 18px
}
.prk {
	BORDER-RIGHT: #e4cdb5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e4cdb5 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #e4cdb5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e4cdb5 1px solid
}
.prk1 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #f4ebe2
}
.prk2 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; MARGIN: 3px; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fefdfc
}
.prk3 {
	MARGIN: 10px 10px 10px 12px; LINE-HEIGHT: 165%; BORDER-BOTTOM: #d7d7d7 1px dashed
}
.prk3 UL.u1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.prk4 {
	MARGIN: 10px 10px 10px 12px; LINE-HEIGHT: 165%
}
.prk4 UL {
	
}
.prk4 LI {
	FONT-SIZE: 14px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.prk4 LI.l1 {
	BACKGROUND-POSITION: 8px 16px; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon10.gif); PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat
}
.prk4 LI.l2 {
	BACKGROUND-POSITION: 8px -25px; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon10.gif); BACKGROUND-REPEAT: no-repeat
}
.prk4 LI.l3 {
	BACKGROUND-POSITION: 8px -55px; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_icon10.gif); BACKGROUND-REPEAT: no-repeat
}
.pk5_1 {
	MARGIN: 30px 0px 0px 150px; LINE-HEIGHT: 185%
}
.pk5_2 {
	MARGIN-TOP: 10px; TEXT-ALIGN: center
}
.pk5_3 {
	MARGIN: 30px 0px; LINE-HEIGHT: 185%; TEXT-ALIGN: center
}
.pitem {
	CLEAR: both; MIN-HEIGHT: 28px; MARGIN-BOTTOM: 2px; LINE-HEIGHT: 28px; HEIGHT: auto! important
}
.pitem1 {
	CLEAR: both; MARGIN-BOTTOM: 2px; LINE-HEIGHT: 28px
}
.nameTxt {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 185px; TEXT-ALIGN: right
}
.red {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #ff0000; PADDING-TOP: 0px; FONT-FAMILY: ""
}
.inpArea {
	FLOAT: left; WIDTH: 250px
}
.inpArea2 {
	FLOAT: left; WIDTH: 450px
}
.inpArea1 {
	FLOAT: left; WIDTH: 550px
}
.selectk2 {
	WIDTH: 125px
}
.tip {
	FLOAT: left; WIDTH: 230px
}
.tip DIV {
	MARGIN: 0px 0px 0px 10px
}
.tip DIV.none {
	BACKGROUND: none transparent scroll repeat 0% 0%; VISIBILITY: hidden; COLOR: #fff
}
.tip DIV.normal {
	BORDER-RIGHT: #3fb3fe 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 5px 5px; BORDER-TOP: #3fb3fe 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/tip1.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #3fb3fe 1px solid; COLOR: #666666; LINE-HEIGHT: 165%; PADDING-TOP: 2px; BORDER-BOTTOM: #3fb3fe 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #e4f5ff
}
.tip DIV.correct {
	PADDING-RIGHT: 2px; BACKGROUND-POSITION: 5px 5px; MARGIN-TOP: 3px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/tip3.gif); PADDING-BOTTOM: 2px; LINE-HEIGHT: 165%; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat
}
.tip DIV.error {
	BORDER-RIGHT: #ffba75 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 5px 5px; BORDER-TOP: #ffba75 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/tip2.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #ffba75 1px solid; COLOR: #666666; LINE-HEIGHT: 165%; PADDING-TOP: 2px; BORDER-BOTTOM: #ffba75 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff5e8
}
.pcontent {
	MARGIN: 15px; LINE-HEIGHT: 185%
}
.pcontent1 {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 185%
}
.pbtn {
	LINE-HEIGHT: 185%; TEXT-ALIGN: left
}
.ptitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 8px; BORDER-BOTTOM: #d7d7d7 1px dashed
}
.productleft {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 210px
}
.productright {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 220px; PADDING-TOP: 0px
}
.imgk200x200 {
	BORDER-RIGHT: #e2e7ef 1px solid; BORDER-TOP: #e2e7ef 1px solid; MARGIN: 0px auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #e2e7ef 1px solid; WIDTH: 200px; BORDER-BOTTOM: #e2e7ef 1px solid; POSITION: relative; HEIGHT: 200px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.imgk200x200 P {
	POSITION: absolute; TOP: 50%
}
.imgk200x200 IMG {
	LEFT: -50%; POSITION: relative; TOP: -50%
}
.img200x200 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; ; WIDTH: expression(this.width>200 && this.height<this.width?"200px":true); PADDING-TOP: 0px; ; HEIGHT: expression(this.height>200?"185px":true); max-width: 200px; max-height: 200px
}
.imgkt100x100 {
	MARGIN: 0px auto; WIDTH: 100px
}
.imgk100x100 {
	BORDER-RIGHT: #e2e7ef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e2e7ef 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #e2e7ef 1px solid; WIDTH: 100px; PADDING-TOP: 0px; BORDER-BOTTOM: #e2e7ef 1px solid; POSITION: relative; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.imgk100x100 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 50%
}
.imgk100x100 IMG {
	LEFT: -50%; POSITION: relative; TOP: -50%
}
.img100x100 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; ; WIDTH: expression(this.width>100 && this.height<this.width?"100px":true); PADDING-TOP: 0px; ; HEIGHT: expression(this.height>100?"100px":true); max-width: 100px; max-height: 100px
}
.player1 {
	BORDER-RIGHT: #2a669a 1px solid; BORDER-TOP: #2a669a 1px solid; BORDER-LEFT: #2a669a 1px solid; WIDTH: 350px; BORDER-BOTTOM: #2a669a 1px solid
}
.player1_new {
	BORDER-RIGHT: #2a669a 0px solid; BORDER-TOP: #2a669a 0px solid; BORDER-LEFT: #2a669a 0px solid; WIDTH: 350px; BORDER-BOTTOM: #2a669a 0px solid
}
.playertd2 {
	MARGIN-TOP: 10px
}
.playertd1 {
	LINE-HEIGHT: 30px; BORDER-BOTTOM: #2a669a 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #77a3ca
}
.playertd1 DIV.playerl1 {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left; COLOR: #fff
}
.playertd1 DIV.playerl2 {
	PADDING-RIGHT: 8px; MARGIN-TOP: 8px; FLOAT: right
}
.lgkitem {
	CLEAR: both; MARGIN-BOTTOM: 2px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.lgktd1 {
	FLOAT: left; WIDTH: 25%; TEXT-ALIGN: right
}
.lgktd1 SPAN.l1 {
	PADDING-RIGHT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #4d4d4d
}
.lgktd2 {
	FLOAT: left; WIDTH: 70%
}
.loginkt1 {
	MARGIN: 3px 8px
}
.loginkt2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 165%; PADDING-TOP: 0px
}
.loginkt3 {
	MARGIN-BOTTOM: 8px
}
#searchResult {
	CLEAR: both; BORDER-TOP: #3c61a4 3px solid; MARGIN-BOTTOM: 10px; COLOR: #fff; HEIGHT: 28px; BACKGROUND-COLOR: #6b92d7
}
#searchResult LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#searchResult SPAN {
	FONT-WEIGHT: bold; COLOR: #ffff33
}
#searchResult LI.l1 {
	WIDTH: 60%
}
#searchResult LI.l2 {
	FLOAT: right; WIDTH: 35%; TEXT-ALIGN: right
}
.centerSearch {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; HEIGHT: 100%; BACKGROUND-COLOR: #f4f7fd; ADDING-TOP: 8px
}
.parameterSearch {
	CLEAR: both; WIDTH: 100%; LINE-HEIGHT: 180%; HEIGHT: 100%
}
.parameterSearch0 {
	CLEAR: both; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: 180%; HEIGHT: 100%; BACKGROUND-COLOR: #e3eeff
}
.parameterSearch1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 100%; LINE-HEIGHT: 180%; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #e3eeff
}
.parameterSearch3 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 100%; LINE-HEIGHT: 180%; PADDING-TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #e3eeff
}
.parameterSearch2 {
	BORDER-RIGHT: #c4dbff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c4dbff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #c4dbff 1px solid; PADDING-TOP: 5px; HEIGHT: 100%
}
.parameterSearchLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100px; LINE-HEIGHT: 180%; PADDING-TOP: 0px
}
.parameterSearchLeft LI {
	BACKGROUND-POSITION: 8px 8px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(http://jic.b2b.makepolo.com/img/p_jiantou.gif); BACKGROUND-REPEAT: no-repeat
}
.parameterSearchRight {
	FLOAT: left; WIDTH: 88%; COLOR: #666; LINE-HEIGHT: 180%
}
.parameterSearchRight UL {
	PADDING-LEFT: 5px
}
.parameterSearchRight1 {
	FLOAT: left; WIDTH: 88%; COLOR: #333; LINE-HEIGHT: 180%
}
.parameterSearchRight LI {
	PADDING-RIGHT: 5px; FLOAT: left; WIDTH: 145px
}
.parameterSearchRight .tag {
	WIDTH: 65px; TEXT-ALIGN: right
}
.parameterSearchRight .tag3 {
	WIDTH: 120px; TEXT-ALIGN: right
}
.parameterSearchRight .tag2 {
	WIDTH: 37px
}
.parameterSearchRight .tag1 {
	WIDTH: 100px
}
.plist1 {
	MARGIN-BOTTOM: 8px; OVERFLOW: hidden; LINE-HEIGHT: 28px; HEIGHT: 100%; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.plist2 {
	MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 8px; OVERFLOW: hidden; LINE-HEIGHT: 185%; BORDER-BOTTOM: #ddd 1px dashed; HEIGHT: 100%
}
.pltd1 {
	FLOAT: left; MARGIN: 0px 15px 0px 5px; WIDTH: 100px
}
.pltd2 {
	FLOAT: left; WIDTH: 480px
}
.pltd2 UL.u2 {
	COLOR: #666; LINE-HEIGHT: 165%
}
.pltd3 {
	FLOAT: right; WIDTH: 100px; TEXT-ALIGN: center
}
DIV.page {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 8px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.page A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: underline
}
DIV.page A:hover {
	BORDER-RIGHT: #ff9600 1px solid; BORDER-TOP: #ff9600 1px solid; BORDER-LEFT: #ff9600 1px solid; COLOR: #ff6500; BORDER-BOTTOM: #ff9600 1px solid; BACKGROUND-COLOR: #ffdec8; TEXT-DECORATION: none
}
DIV.page A:active {
	BORDER-RIGHT: #2b619d 1px solid; BORDER-TOP: #2b619d 1px solid; BORDER-LEFT: #2b619d 1px solid; BORDER-BOTTOM: #2b619d 1px solid
}
DIV.page SPAN.current {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #1f3a87
}
DIV.page SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 3px; BORDER-BOTTOM: #eee 1px solid
}
.pageinput {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.pagebtn {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.img100x100 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; ; WIDTH: expression(this.width>100 && this.height<this.width?"100px":true); PADDING-TOP: 0px; ; HEIGHT: expression(this.height>100?"100px":true); max-width: 100px; max-height: 100px
}
.sctitle {
	MARGIN: 3px 0px; LINE-HEIGHT: 185%
}
.SI-FILES-STYLIZED LABEL.cabinet {
	DISPLAY: block; BACKGROUND: url(http://jic.b2b.makepolo.com/img/btn-choose-file.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 49px; CURSOR: pointer; HEIGHT: 22px
}
.SI-FILES-STYLIZED LABEL.cabinet INPUT.file {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=0); WIDTH: auto; POSITION: relative; HEIGHT: 100%; opacity: 0; moz-opacity: 0
}
.upload {
	FONT-SIZE: 8px; Z-INDEX: 2; FILTER: alpha(opacity=0); LEFT: -20px; WIDTH: 60px; POSITION: absolute; HEIGHT: 30px; opacity: 0; moz-opacity: 0
}
.line1 {
	CLEAR: both; HEIGHT: 1px
}
.line8 {
	CLEAR: both; HEIGHT: 8px
}
.line15 {
	CLEAR: both; HEIGHT: 15px
}
.line20 {
	CLEAR: both; HEIGHT: 20px
}
.ptishi {
	CLEAR: both; BORDER-RIGHT: #e6cd59 1px solid; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 10px 8px; BORDER-TOP: #e6cd59 1px solid; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/img/p_icon1.gif); PADDING-BOTTOM: 8px; MARGIN: 10px 30px; BORDER-LEFT: #e6cd59 1px solid; LINE-HEIGHT: 165%; PADDING-TOP: 8px; BORDER-BOTTOM: #e6cd59 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fffbdb
}
