<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- 调度作业 -->
	<bean name="jobLimitCountorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>职位限制作业</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.JobLimitCountorJob" />
		<property name="jobDataMap">
			<map>
				<entry key="hrLimitService" value-ref="hrLimitService"></entry>
			</map>
		</property>
	</bean>

	<bean name="mailSenderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>发送邮件</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.MailSenderJob" />
		<property name="jobDataMap">
			<map>
				<entry key="mailQueueService" value-ref="mailQueueService"></entry>
			</map>
		</property>
	</bean>
	
	<bean name="fileCheckJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>文件检查</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.FileCheckJob" />
	</bean>
	
	<bean name="expiredKeywordJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>过期关键字作业</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.ExpiredKeywordJob" />
		<property name="jobDataMap">
			<map>
				<entry key="keywordService" value-ref="keywordService"></entry>
			</map>
		</property>
	</bean>
	
	<bean name="expiredCategoryKeywordJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>过期类别关键字作业</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.ExpiredCategoryKeywordJob" />
		<property name="jobDataMap">
			<map>
				<entry key="categoryKeywordService" value-ref="categoryKeywordService"></entry>
			</map>
		</property>
	</bean>
	
	<bean name="bookingEmailGernatorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<description>订阅邮件生成作业</description>
		<property name="jobClass" value="org.j2eeframework.startoon.job.BookingEmailGernatorJob" />
		<property name="jobDataMap">
			<map>
				<entry key="bookingService" value-ref="bookingService"></entry>
			</map>
		</property>
	</bean>

	<!-- 触发器 -->
	<bean id="jobLimitCountorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>职位限制</description>
		<property name="jobDetail" ref="jobLimitCountorJob" />
		<property name="cronExpression" value="0 0 1 ? * MON" />
	</bean>

	<bean id="fileCheckTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>文件检查</description>
		<property name="jobDetail" ref="fileCheckJob" />
		<property name="cronExpression" value="0 0 1 ? * MON" />
	</bean>

	<bean id="mailSenderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>邮件发送</description>
		<property name="jobDetail" ref="mailSenderJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
	
	<bean id="expiredKeywordTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>关键字过期</description>
		<property name="jobDetail" ref="expiredKeywordJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
	
	<bean id="expiredCategoryKeywordTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>类别关键字过期</description>
		<property name="jobDetail" ref="expiredCategoryKeywordJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
	
	<bean id="bookingEmailGernatorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<description>订阅邮件</description>
		<property name="jobDetail" ref="bookingEmailGernatorJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>

	<bean id="TimerTaskFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<description>触发器调度控制器</description>
		<property name="triggers">
			<list>
				<ref bean="fileCheckTrigger" />
				<ref bean="jobLimitCountorTrigger" />
				<ref bean="bookingEmailGernatorTrigger" />
				<ref bean="mailSenderTrigger" />
				<ref bean="expiredKeywordTrigger" />
				<ref bean="expiredCategoryKeywordTrigger" />
			</list>
		</property>
	</bean>

</beans>